.task-list-item {
    list-style-type: none;
    padding-left: 20px;
    text-indent: -26px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  
  .task-list-item-checkbox {
    margin-right: 8px;
  }
  